#gameBoard{
    display: grid;
    grid-template-columns: repeat(40,10px);
    grid-template-rows: repeat(40,10px);
    background-color: black;
}

.cell{
    width: 10px;
    height: 10px;
}

.snake{
    background-color: lightseagreen
}

.food{
    background-color: yellow;
}