#gameBoard{
    display: grid;
    grid-template-columns: repeat(40,10px);
    grid-template-rows: repeat(40,10px);
}

.cell{
    width: 10px;
    height: 10px;
    border: 1px solid gray;
}

.snake{
    background-color: chartreuse
}